@import "mini-reset";
@import "variables";
@import "mixins";


/**
 * Some global styles
 */

// Reset button styles
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    cursor: pointer;

    svg {
        fill: $color-link;
        
        &:hover,
        &:focus {
            fill: $color-link--hover;
        }
    }
}
 
a {
    color: $color-link;
    transition: color .25s ease-out;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-link--hover
    }
}
