// Let's define some variables to use in our app
// ------------------------------------


//--------------------------------------
// Define app main colors
$color-text:            #2c3e50;
$color-link:            rgb(15, 155, 101);
$color-link--hover:     lighten($color-link, 10%);
$color-border:          #ebebeb;

//--------------------------------------
// Define media query breakpoints
$breakpoints: (
    small      : 400px,
    medium     : 700px,
    large      : 900px,
    huge       : 1200px
);